.titulo_bienvenida{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0%;
    position: absolute;
    width:50%;
    left: 10%;
    top: 11%;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 250%;
  
  }
  
  .subtitulo_bienvenida{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0%;
  
    position: absolute;
    width: 34%;
    left: 12%;
    top: 26%;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 200%;
    
  }
  
  
  .boton_bienvenida{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 101px;
    gap: 10px;
    
    position: absolute;
    width: 382px;
    height: 48px;
    left: 258px;
    top: 568px;
    
    /* Crayola */
    border: 2px solid #157AFF;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    
    }

  .txt_button_bienvenida{
    
      width: 180px;
      height: 40px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 40px;

      display: flex;
      align-items: center;
      text-align: center;

      color: #1261C9;
      margin: 0;

      flex: none;
      order: 0;
      flex-grow: 0;
  }
  
  .imagen2-div_bienvenida{
    width: 521px;
    height: 693px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: linear-gradient(360deg, #157AFF -24.1%, rgba(147, 193, 255, 0) 59.02%);
    background-image: url(../imagenes/tio.png);
  
    top: 25.3%;
    left: 72.8%;
  }
  
  .imagen1-div_bienvenida{
    width: 300px;
    height: 434px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: linear-gradient(360deg, #157AFF -24.1%, rgba(147, 193, 255, 0) 59.02%);
    background-image: url(../imagenes/tias.png);
  
    top: 52.99%;
    left: 60.5%;
  }
  
  