
*{
    font-family: 'Montserrat';
  }
    
    ul{
      display: none;
    }
    
    input:checked  ~ ul{
      display:block;
    }
    
    .check_eventoinfo {
      display: none;
    }
    
    label {
      box-sizing: border-box;
      display: inline-block;
      border: 1px solid #1261C9;
      border-radius: 5px;
      width: 40px;
      height: 40px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
      user-select: none;
    }
    
    /* Estilo del boton cuando se pasa el mouse por encima*/
    label:hover{
      background: whitesmoke;
      border: 1px solid #1261C9;
    }
    
    /* Estilo del boton cuando el menú está expandido*/
    input:checked ~ label {
      background: whitesmoke; 
    }
    
    ul{
      margin-top:0;
      padding: 0;
      width: 200px;
    
    }
    
    
    li {
      display: block;
      background: whitesmoke;
      margin: 0;
      padding: 10px;
      list-style: none;
      border-top: 1px solid #1261C9;
      border-right: 1px solid #1261C9;
      border-left: 1px solid #1261C9;
    }
    .last_eventoinfo{
      border-bottom: 1px solid #1261C9;
      border-right: 1px solid #1261C9;
      border-left: 1px solid #1261C9;
      display: block;
      background: whitesmoke;
      margin: 0;
      padding: 10px;
      list-style: none; 	
    }
    
    /*Estilo cuando el mouse pasa encima de cada link del menu*/
    li:hover {
      filter: brightness(110%);
    }
    
    .icono_eventoinfo{
        color:#1261C9;
        font-size:24px;
        padding-top: 5px;
    }

    .eventobanner{
        position: absolute;
        width: 1200px;
        height: 246px;
        left: 6%;
        top: 6%;
        
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) -3.34%, #157AFF 80%), url(../imagenes/banner.jpg);
        border-radius: 14px;
    }

    .eventotitulo{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        
        position: absolute;
        width: 434px;
        height: 64px;
        left: 60px;
        top: 280px;

        /* Typeface/Headline/One/Semi Bold */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        top: 55%;

        /* identical to box height, or 133% */

        /* Bright/Full Bright */
        color: #FFFFFF;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .eventofecha{
       /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        position: absolute;
        width: 4740px;
        height: 40px;
        left: 60px;
        top: 80%;



        /* Typeface/Headline/Four/Regular */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;

        /* identical to box height, or 167% */

        /* Bright/Grand Bright */
        color: #F0F0F0;
    }

    .eventosub{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 20px 0px 8px;
        gap: 10px;
        
        position: absolute;
        width: 838px;
        height: 80px;
        top: 38%;
        left: 135px;

        /* Typeface/Headline/Four/Semi Bold */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;

        /* or 167% */

        /* Dark/Grand Dark */
        color: #1F1F1F;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .eventoinfo1{
        /* Frame 11 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px 42px;
    gap: 24px;

    position: absolute;
    width: 450px;
    height: 238px;
    left: 13%;
    top: 50%;

    /* Bright/Full Bright */
    background: #FFFFFF;

    /* Shadows/ Short shadow */
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.06);
    border-radius: 100px;
    border: 4px solid #1261C9;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 48px;
    }

    .eventoinfo2{
        /* Frame 11 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px 42px;
    gap: 24px;

    position: absolute;
    width: 450px;
    height: 238px;
    right: 17%;
    top: 50%;

    /* Bright/Full Bright */
    background: #FFFFFF;

    /* Shadows/ Short shadow */
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.06);
    border-radius: 100px;
    border: 4px solid #1261C9; ;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 48px;
    }

    
.linea1{
        /* Line 1 */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 100%;

    /* Crayola */
    border: 1px solid #157AFF;
    
}

.botonunirse{
    
    position: absolute;
    width: 286px;
    height: 52px;
    left: 37%;
    top: 87%;

    /* Crayola */
    background: #157AFF;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color:white;
}

.all{
    border: 4px solid #1261C9;
    height: 700px;
    width: 1200px;
    margin-left: 5.7%;
}
 