.titulo_email{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0%;
  position: absolute;
  width:500%;
  left: 10%;
  top: 10%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 79px;
  
  }
  
  .subtitulo_email{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0%;
  
    position: absolute;
    width: 65%;
    left: 10%;
    top: 32%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 48px;
  
  }
  
  .input_mail_email{
    position: absolute;
    width: 600px;
    height: 68px;
    left: 380px;
    top: 460px;
    
    /* Crayola */
    
    border: 4px solid #157AFF;
    box-sizing: border-box;
    border-radius: 42px;
  
    font-size: 20px;
    text-align: center;
  }
  
  .input_mail_email::-webkit-input-placeholder{
   text-align: center;
    font-size: 20px;
  }
  .flecha_email{
    position: absolute;
    width: 10%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 300%;
    left: 85%;
    top: 75%;
    cursor: pointer;
    font: #7B29FF;
  }

  .input_matriculacion_email{
    position: absolute;
    width: 600px;
    height: 68px;
    left: 380px;
    top: 380px;
    
    /* Crayola */
    
    border: 4px solid #157AFF;
    box-sizing: border-box;
    border-radius: 42px;
  
    font-size: 20px;
    text-align: center;
  }
  
  .input_matriculacion_email::-webkit-input-placeholder{
   text-align: center;
    font-size: 20px;
  }