.titulo_link{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0%;
    position: absolute;
    width: 70%;
    left: 10%;
    top: 13%;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 200%;
    line-height: 64px;
  }
  
  .subtitulo_link{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0%;
  
    position: absolute;
    width: 48%;
    left: 10%;
    top: 21%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 200%;
    line-height: 64px;
  }
  
  .conjunto_link{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 19%;
    height: 40px;
    left: 38%;
    top: 40%;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 64px;
  
    }
  
  .llegado_link{
    width: 60%;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 100%;
    color: #525252;
  
  }
  
  
  .Reenviar_link{
    width: 20%;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 100%;
    color: #157AFF;
    cursor: pointer;
  }
  